// =========================================================================
// Gowin Physical Constraint Configuration File (*.cst)
// Targeted Deployment Hardware: Sipeed Tang Nano 20K Board
// =========================================================================

// Clock Control and System Input Pins
IO_LOC "sys_clk" 4;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_UP=NONE;
IO_LOC "sys_rst_n" 88;
IO_PORT "sys_rst_n" IO_TYPE=LVCMOS33 PULL_UP=UP;

// Integrated BL616 USB-to-UART Bridge Interconnect
IO_LOC "uart_tx" 69;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_UP=NONE;
IO_LOC "uart_rx" 70;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_UP=UP;

// Physical HDMI Panel Pin Mappings (True Differential Standard)
IO_LOC "tmds_clk_p" 33;
IO_PORT "tmds_clk_p" IO_TYPE=LVCMOS33D PULL_UP=NONE DRIVE=8;

IO_LOC "tmds_data_p[0]" 35;
IO_PORT "tmds_data_p[0]" IO_TYPE=LVCMOS33D PULL_UP=NONE DRIVE=8;

IO_LOC "tmds_data_p[1]" 37;
IO_PORT "tmds_data_p[1]" IO_TYPE=LVCMOS33D PULL_UP=NONE DRIVE=8;

IO_LOC "tmds_data_p[2]" 39;
IO_PORT "tmds_data_p[2]" IO_TYPE=LVCMOS33D PULL_UP=NONE DRIVE=8;
